.wrapper-app {
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px);
    background-color: #7383BF;
}

.app-title-logo {
    max-width: 150px;
}

.app-title-logo img {
    height: 100%;
}

.wrapper-app header {
    background-color: rgba(42, 47, 59, 0.904);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(66, 64, 64);
}

.nav img {
    width: 40px;
    cursor: pointer;
}

.wrapper-app>:last-child {
    height: calc(100vh - 50px);
    overflow-x: hidden;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.menu img {
    width: 40px;
    cursor: pointer;
    margin: 0 8px;
}

.menu .profile-image {
    width: 40px;
    height: 40px;
    object-fit: fill;
    object-position: center;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {

    .menu>span,
    .menu>:last-child {
        display: none;
    }
}